figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    padding: auto;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    /* -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box; */
    margin: -1px;
    color:white;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  
  figure img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  figure:hover img {
    transform: scale(1.5);
    
  }

  
  /* @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  } */
  
  .card-content span{
    display:block;
    width:200px;
    word-wrap:break-word;
    font-weight: 100;
  }
 
   